.load-more {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;

  &__button {
    &--hidden {
      display: none;
    }
  }

  &__loader {
    animation: rotate 0.66s linear infinite, scale 1s linear both infinite;
    display: none;
    height: 80px;
    width: 80px;

    &--visible {
      display: flex;
    }
  }
}
