.type {
  align-items: center;
  border-radius: 32px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  height: 32px;
  padding: 0 16px 0 4px;

  &__icon {
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  &--bug {
    background-color: var(--pokemon-bug);
  }

  &--bug-muted {
    background-color: var(--pokemon-bug-muted);
  }

  &--dark {
    background-color: var(--pokemon-dark);
    color: var(--text-white);
  }

  &--dark-muted {
    background-color: var(--pokemon-dark-muted);
  }

  &--dragon {
    background-color: var(--pokemon-dragon);
    color: var(--text-white);
  }

  &--dragon-muted {
    background-color: var(--pokemon-dragon-muted);
  }

  &--electric {
    background-color: var(--pokemon-electric);
  }

  &--electric-muted {
    background-color: var(--pokemon-electric-muted);
  }

  &--fairy {
    background-color: var(--pokemon-fairy);
  }

  &--fairy-muted {
    background-color: var(--pokemon-fairy-muted);
  }

  &--fighting {
    background-color: var(--pokemon-fighting);
    color: var(--text-white);
  }

  &--fighting-muted {
    background-color: var(--pokemon-fighting-muted);
  }

  &--fire {
    background-color: var(--pokemon-fire);
  }

  &--fire-muted {
    background-color: var(--pokemon-fire-muted);
  }

  &--flying {
    background-color: var(--pokemon-flying);
  }

  &--flying-muted {
    background-color: var(--pokemon-flying-muted);
  }

  &--ghost {
    background-color: var(--pokemon-ghost);
    color: var(--text-white);
  }

  &--ghost-muted {
    background-color: var(--pokemon-ghost-muted);
  }

  &--grass {
    background-color: var(--pokemon-grass);
  }

  &--grass-muted {
    background-color: var(--pokemon-grass-muted);
  }

  &--ground {
    background-color: var(--pokemon-ground);
  }

  &--ground-muted {
    background-color: var(--pokemon-ground-muted);
  }

  &--ice {
    background-color: var(--pokemon-ice);
  }

  &--ice-muted {
    background-color: var(--pokemon-ice-muted);
  }

  &--normal {
    background-color: var(--pokemon-normal);
  }

  &--normal-muted {
    background-color: var(--pokemon-normal-muted);
  }

  &--poison {
    background-color: var(--pokemon-poison);
  }

  &--poison-muted {
    background-color: var(--pokemon-poison-muted);
  }

  &--psychic {
    background-color: var(--pokemon-psychic);
  }

  &--psychic-muted {
    background-color: var(--pokemon-psychic-muted);
  }

  &--rock {
    background-color: var(--pokemon-rock);
  }

  &--rock-muted {
    background-color: var(--pokemon-rock-muted);
  }

  &--steel {
    background-color: var(--pokemon-steel);
    color: var(--text-white);
  }

  &--steel-muted {
    background-color: var(--pokemon-steel-muted);
  }

  &--water {
    background-color: var(--pokemon-water);
  }

  &--water-muted {
    background-color: var(--pokemon-water-muted);
  }
}
